* {
　　-moz-box-sizing: border-box;
　　-webkit-box-sizing: border-box;
　　box-sizing: border-box;
	font-family: 'Roboto', Arial, sans-serif;
	overflow: auto;
    margin:0;
}

/*nav*/

/*mobile-normal*/
nav {
    display:none;
    background-color: #fff;
    width:100vw;
    float:right;
    text-align: center; 
}

nav li{
    padding:15px;
    color: #000000;
}
nav a{
    text-decoration: none;
    font-size: 20px;
}

nav a:hover {
    color: #969696;
}

.nav-container {
    width:100vw;
    background-color: #ffffff;
}

label {
    width: 35px;
    height: 35px;
    margin:10px;
    margin-right: 20px;
    float: right;
    display: inline-block;
    background-image: url(../images/icon-menu.svg); 
}

#toggle-checkbox{
    display:none;
}

/*mobile-expand*/

#toggle-checkbox:checked ~label{
    background-image: url(../images/icon-cross.svg); 
    background-size: 90%;
}


#toggle-checkbox:checked ~nav{
    display:block;
}


/*bigscreen-normal*/
@media screen and (min-width: 780px), (orientation: landscape) {

label {
    display:none;
}

nav {
    display: block;
    list-style-type: none;
    margin-top:10px;
    text-align:right;
    background-color: rgb(255,255,255,0.7);
}

nav li {
    display: inline;
    color: #000000;
    text-align: center;
}


nav li a:visited {
    color: #000000;
}
}


/*footer*/

footer {
	background-color: #000;
	height: 15vh;
	text-align: center;
    margin-top:15vh;
    padding:15px;
}

footer p{
	color: #ffffff;
	font-size: 16px;
    margin:5px;
}

footer i{
color:#fff;
font-size: 24px;
overflow:hidden;
margin:2px;

}


/*background*/
/*.background {
background-image: url(../images/background.jpg) ;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
color:#ffffff;
}*/


/*container*/

.center-h {
    text-align: center;
}
.flex-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: center;
  margin:1% 5%;
}


.left {
    flex:1 1 45%;
    text-align: center;
}
.left img {
    width: 80%;
    height:auto;
    margin: 0 auto;
}
.right {
    flex: 1 1 40%;
    padding: 2%;

}

.flex-box .img {
    width: 320px;
    height: 280px;
    overflow: hidden;
    text-align: center;
    position:relative;
    margin:1%;
}

.flex-box .img img {
    max-width:140%;
    min-width: 100%
    max-height:140%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
        transform: translateX(-50%) translateY(-50%);
}

.text-title {
    width: 70%;
    margin: 0 auto;
    padding:2%;
}


#about-img {
    width: 300px;
    height: auto;
    border-radius:50%;
}

.flex-item {
    border-radius: 3px;
    padding:1.5%;
    margin:4px;
    height:150px;
 flex:1 1 20%;   
 align-self:center;
 background-color: rgb(255,255,255,0.3);

 
}